*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1400px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
.escritorio{
    width: 100%;
    height: 80px;
    background-color: #eb7648;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 25 rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
}
.escritorio a{
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000000;
    transition: ease-in-out .15s;
}
.escritorio a:hover{
    color: blanchedalmond;
}
.degradado{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 800;
}

header{
    height: 100vh;
    background-image: url(../img/family_meal_.svg);
    background-repeat: no-repeat;
    background-size: 1400px 1000px;
    background-attachment: fixed;
    background-position: center;
}
.menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: none;
}
.menu-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #aa6e56 0%, #cc7c56 52%, #bb5b1a 100%);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    transition: trasform .3s ease-in-out;
    right: -80%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.spread{
    transform: translate(0);
}
.menu-nav a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}
.salir{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #6b6b6b;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out .15s;
}
.salir:hover{
    background-color: hsl(14, 88%, 59%);
}


/* nuestra quienes somos */
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #e75907;
    margin-bottom: 70px;
    font-size: 40px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-servicio img{
    width: 45%;
}
.service{
    margin-bottom: 50px;
}

/* nuestra galeria */ 

.galeria {
    background: #ffffff;
}
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 75px;
    cursor: pointer;
}
.imagen-light{
    position: fixed;
    background: rgba(226, 162, 110, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;  
}
.show{
    transform: translate(0);
}
.agregar-img{
    width: 50%;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{
    transform: scale(1);

}
.cerrar{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* nuestra combo */

.bocada{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-combo{
    width: 30%;
    text-align: center;
}
.cont-combo img{
    width: 50%;
    margin-bottom: 45px;
}
.n-combo{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
    color: #e65907;
}
.precio{
    margin-bottom: 140px;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .escritorio{
        display: none;
    }
    .menu{
        display: flex;
    }
    .menu-nav{
        display: flex;
    }
}